<h2>Index page</h2>
<a href="@Url.Action("Secret", "Home")">Secret</a>
<a href="@Url.Action("Login", "Home")">Login</a>
<a href="@Url.Action("Register", "Home")">Register</a>
<a href="@Url.Action("Logout", "Home")">Logout</a>